* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hero {
  padding: 5rem;
  display: flex;
  gap: 2rem;
  background-color: #f9f4f3;
  color: #765d53;
  background-image: linear-gradient(to left top, #efe8e8, #fbf7f7, #fcf9fa, #fdfbfc, #fefdfe, #ffffff);
}

p {
  column-count: 3;
}

#gingerbread-man {
  border-radius: 0.5rem;
  width: 320px;
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #5f65a3;
  color: #fff;
  border: 2px solid #7b84d1;
  border-radius: .5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.styled-button:hover {
  background-color: #7b84d1;
  color: #fff;
}
