body {
  flex-direction: column;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    rgb(26, 31, 26),
    rgb(59, 2, 2),
    rgb(42, 42, 50)
  );
}

welcome

img {
  width: 350px;
  height: 200px;
}
