* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
main {
  /* padding-inline: 10rem;
  padding-block: 5rem; */
  /* background-image: linear-gradient(to right top, #f9f4f3, #d9bfb9, #b88d81, #945e4c, #6d311a); */
  /* background-image: linear-gradient(to right top, #f9f4f3, #d8ccc9, #b7a5a0, #968079, #765d53); */
}

.hero {
  padding: 5rem;
  display: flex;
  gap: 2rem;
  background-color: #f9f4f3;
  color: #765d53;
  background-image: linear-gradient(
    to left top,
    /* #765d53, */ /* #8e776f, */ /* #a6928c, */ /* #bfafaa, */ /* #d8ccc9, */ #e4dad9,
    #efe8e8,
    #fbf7f7,
    #fcf9fa,
    #fdfbfc,
    #fefdfe,
    #ffffff
  );
}

p {
  column-count: 3;
}

#gingerbread-man {
  border-radius: 0.2rem;
  width: 320px;
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #5f65a3;
  color: #fff;
  border: 2px solid #7b84d1;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.styled-button:hover {
  background-color: #7b84d1;
  color: #fff;
}
